.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modalBackground);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 400px;
  max-width: 800px;
  width: 35%;
  padding: 24px 48px;
  border-radius: 10px;
  box-shadow: var(--modalBoxShadow);
  position: relative;
}

.modalHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.title {
  font-family: var(--titleFont);
  font-size: var(--titleFontSize);
  font-weight: var(--boldFontWeight);
}

.closeButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.closeButton:hover {
  background-color: #e1e1ea;
}

.lists{
  padding: 12px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: var(--dropShadow);
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.listItemContent {
  display: flex;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 1, 1, 0.1);
  margin-right: 10px;
}

.iconTwo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--red);
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid #FFE6E6;
}

.itemName {
  font-family: var(--titleFont);
  font-weight: var(--boldFontWeight);
  font-size: var(--defaultFontSize);
}

.itemSubtitle {
  font-family: var(--textFont);
  font-weight: var(--mediumFontWeight);
  color: var(--darkGray);
  font-size: var(--smallFontSize);
}

.time {
  align-self: flex-start;
  font-family: var(--textFont);
  font-size: var(--smallFontSize);
  font-weight: var(--boldFontWeight);
  color: var(--darkGray);
}

.subtitle {
  margin-top: 40px;
  margin-bottom: 15px;
  font-family: var(--titleFont);
  font-weight: var(--boldFontWeight);
  font-size: var(--defaultFontSize);
}

.otherList {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.otherListTitle {
  font-family: var(--titleFont);
  font-weight: var(--mediumFontWeight);
  font-size: var(--mediumFontSize);
}

.otherListSubtitle{
  color: var(--darkGray);
  font-family: var(--textFont);
  font-size: var(--smallFontSize);
  font-weight: var(--mediumFontWeight);
}

.label {
  font-family: var(--titleFont);
  font-size: var(--mediumFontSize);
  font-weight: var(--mediumFontWeight);
  align-self: flex-start;
  margin-left: 10px;
}

.input {
  background-color: #fff;
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  margin-bottom: 20px;
  margin-top: 3px;
  box-shadow: var(--dropShadow);
  font-weight: var(--mediumFontWeight);
  font-size: var(--smallFontSize);
  font-family: var(--textFont);
  font-style: italic;
}

.button {
  color: #fff;
  border: none;
  width: 100%;
  padding: 12px 16px;
  background-color: var(--green);
  border-radius: 12px;
  cursor: pointer;
  transition: .2s ease-in-out;
  font-family: var(--textFont);
  font-size: var(--mediumFontSize);
  font-weight: var(--mediumFontWeight);
}

.button:hover {
  background-color: #189405;
}