.container {
    width: 11%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    font-family: var(--textFont);
    font-size: var(--mediumFontSize);
}

.subtitle {
    font-family: var(--titleFont);
    font-size: var(--smallFontSize);
    font-weight: var(--boldFontWeight);
}