.radioContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Removendo estilo padrao */
.input {
  appearance: none;
}
  
/* Personalizando unchecked radio input */
.input {
  width: 15px;
  height: 15px;
  border: 2px solid var(--red);
  border-radius: 5px;
  display: grid;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  margin-right: -5px;
}

.input::before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 3px;
  background-color: var(--red);
  transform: scale(0);
  transition: 0.3s transform ease-in-out;
}

.input:checked::before {
  transform: scale(1);
}

.labelText {
  font-family: var(--textFont);
  font-size: var(--defaultFontSize);
  font-weight: var(--mediumFontWeight);
  margin-right: 10px;
}