.buttonList {
  width: 100%;
  display: flex;
}

.secondaryButton {
  background-color: var(--orange);
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.primaryButton {
  border-radius: 10px;
  background-color: var(--orange);
  border: none;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.primaryButton:hover,
.secondaryButton:hover {
  background-color: #fc6e02;
}

.primaryButton span {
  color: #fff;
  font-size: var(--defaultFontSize);
}
