@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

* {
	scrollbar-width: 10px;
	scrollbar-color: var(--darkGray);
  }
  
  *::-webkit-scrollbar {
	width: 8px;
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: var(--darkGray);
	border-radius: 20px;
  }

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom,
			transparent,
			rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--red: #cf0a0a;
	--orange: #dc5f00;
	--yellow: #fdaa0b;
	--green: #1eb106;
	--gray: #f8f8fa;
	--darkGray: #8F8E98;
	--black: #231F20;
	--titleFont: 'Poppins', sans-serif;
	--textFont: 'Montserrat', sans-serif;
	--maxWidth: 1200px;
	--maxHeight: 100vh;
	--titleFontSize: 2.5vh;
	--defaultFontSize: 2vh;
	--mediumFontSize: 1.8vh;
	--smallFontSize: 1.5vh;
	--boldFontWeight: 600;
	--mediumFontWeight: 500;
	--regularFontWeight: 400;
	--dropShadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.10);
	--modalBackground: rgba(0, 0, 0, 0.55);
	--modalBoxShadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}