.container {
    width: 60%;
    height: 90%;
    background-color: var(--gray);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.icon {
    margin: 0 15px;
    cursor: pointer;
    transition: 0.2s;
}

.icon:hover {
    transform: scale(1.05);
}

.input {
    background-color: var(--gray);
    border: none;
    outline: none;
    width: calc(95% - 30px);
    height: 80%;
    font-size: var(--mediumFontSize);
    font-family: var(--titleFont);
}