.containerAberto {
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
  background-color: var(--gray);
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transition: 0.5s;
}

.containerClosed {
  width: 80px;
}

.logoDiv {
  padding: 10px 15px;
  border-radius: 10px;
}

.header,
.footer {
  display: flex;
  height: 15%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.pagesContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
}

.pageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 5px 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--dropShadow);
  transition: 0.5s;
}

.pageDivFechado {
  width: 50px;
  height: 50px;
}

.collapseButton {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s;
  white-space: nowrap;
  overflow: hidden;
  font-family: var(--titleFont);
  font-weight: var(--mediumFontWeight);
  font-size: var(--defaultFontSize);
}

.collapseButtonFechado {
  justify-content: center;
  padding: 0;
  width: 100%;
  height: 100%;
}

.collapseButtonOpen {
  border-radius: 10px 10px 0 0;
}

.collapseButtonOpen,
.collapseButton:hover,
.button:hover,
.secButton:hover,
.logoDiv:hover {
  background-color: #e0e0e0;
}

.collapseButtonOpen > .arrow {
  transform: rotate(270deg);
}

.arrow {
  transition: 0.5s ease-in-out;
  transform: rotate(90deg);
}

.arrowHidden {
  display: none;
}

.contentHidden {
  height: 0;
  overflow: hidden;
}

.content {
  width: 100%;
  height: auto;
  margin: 5px 0;
}

.contentHidden,
.content {
  transition: 0.5s;
}

.indentedButtons {
  width: 100%;
  padding: 0 10px;
}

.button,
.secButton {
  width: 100%;
  border-radius: 10px;
  padding: 3px 5px;
  transition: 0.2s;
  cursor: pointer;
  white-space: nowrap;
  font-family: var(--textFont);
  font-size: var(--mediumFontSize);
  font-weight: var(--mediumFontWeight);
}

.secButton {
  font-weight: var(--regularFontWeight);
  padding: 3px 10px;
}

.verticalLine {
  height: 100vh;
  width: 5px;
  left: 80px;
  position: absolute;
  background-color: #d3d3d300;
  cursor: pointer;
  transition: 0.5s;
}

.floatingButton {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #d3d3d300;
  height: 40px;
  width: 15px;
  left: 5px;
  position: absolute;
  top: calc(50vh - 20px);
  border-radius: 0px 10px 10px 0px;
  padding-left: 5px;
  transition: 0.5s;
}

.containerAberto:hover {
  .verticalLine {
    background-color: #d3d3d3;

    .floatingButton {
      background-color: #d3d3d3;

      .verticalLineArrow {
        display: flex;
      }
    }
  }
}

.verticalLineAberto {
  left: 300px;
}

.verticalLineArrow {
  margin-left: -5px;
  display: none;
  transition: 0.5s;
}

.verticalLineArrowAberto {
  transform: rotate(180deg);
}

.logo {
  width: auto;
}
