.container{
    display: inline-flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 16px;
    background: rgba(255, 1, 1, 0.1)
}

.activebg{
    background: rgba(30, 177, 6, 0.10);
}

.inactivebg{
    background: rgba(255, 1, 1, 0.10);
}

.icon{
    width: 10px;
    height: 10px;
}

.text{
    font-size: 10px;
    font-family: Poppins;
    font-weight: 500;
}