.container {
    width: 800px;
    height: 500px;
    background-color: var(--gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    height: 20%;
    font-family: var(--titleFont);
    font-weight: 700;
    font-size: 22px;
}

.optionsWrapper {
    height: 60%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.saveButtonContainer {
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: self-end;
}

.saveButton {
    width: 125px;
    height: 40px;
    background-color: var(--green);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saveButtonText {
    font-family: var(--titleFont);
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}