.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    height: 100%;
}

.left {
    display: flex;
    flex: 1;
}

.foto {
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
    border: 0.5px solid #0004;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    padding-left: 10px;
}

.nome {
    font-family: var(--titleFont);
    font-size: var(--mediumFontSize);
    font-weight: var(--boldFontWeight);
}

.email {
    font-family: var(--textFont);
    font-size: var(--smallFontSize);
    font-weight: var(--boldFontWeight);
    color: #0004;
}

.iconDiv {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s;
}

.iconDiv:hover {
    background-color: #e1e1ea;
}