.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modalBackground);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--boxShadow);
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modalContent h2 {
  font-family: var(--titleFont);
  font-size: var(--titleFontSize);
  font-weight: var(--mediumFontWeight);
}


.modalContent p {
  font-family: var(--textFont);
  font-size: var(--mediumFontSize);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 50px;
  width: 90%;
  margin-bottom: 25px;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modalButtons button {
  width: 40%;
  padding: 10px 0px;
  font-size: var(--mediumFontSize);
  font-weight: var(--mediumFontWeight);
  border-radius: 10px;
  cursor: pointer;
}

.cancelButton {
  background-color: var(--gray);
  border: 2px solid #231F20;
  font-family: var(--textFont);
  transition: all .2s ease-in-out;
}

.cancelButton:hover {
  background-color: #e1e1ea;
}

.deleteButton {
  background-color: var(--red);
  font-family: var(--textFont);
  color: #fff;
  border: none;
  transition: all .2s ease-in-out;
}

.deleteButton:hover {
  background-color: #aa0808;
}

.centerDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg {
  margin-top: 20px;
}