.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--boxShadow);
  }
  
  .modalContent {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
  }
  
  .modalContent h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  
  .modalContent p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  
  .modalButtons {
    display: flex;
    justify-content: space-between;
  }
  
  .modalButtons button {
    margin: 0 10px;
    padding: 8px 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .cancelButton {
    background-color: transparent;
    border: 2px solid #231F20;
  }
  
  .deleteButton {
    background-color: #f44336;
    color: #fff;
    border: 0px;
  }
  